__pycache__/
Building_Details/
checkpoints/
hitmap/
inputs/
losmap/
outputs/
Positions/
Radiation_Patterns/
other_data/

# === Ignore large/binary files ===
*.zip
*.pyc
*.log
*.png

# (Optional) If sparse sample files are not needed
sparse_samples_0.02/
sparse_samples_0.5/
submission.csv
